@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  height: 100vh;
}

/* remove up/down control for number input */
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* style for scrollbar */
@layer utilities {
  .subtle-scrollbar::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
  }
  .subtle-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .subtle-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 4px solid #cbd5e1;
  }
}

/* style split pane splitter */
.sash {
  --focus-border: #475569;
  background: var(--focus-border);
}

.requires-inprogress-bidding {
  position: relative !important;
  pointer-events: none;
  user-select: none;
}
.requires-inprogress-bidding::before {
  content: '';
  position: absolute;
  background-color: RGBA(51, 65, 85, 0.7);
  backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.requires-inprogress-bidding::after {
  content: 'Start a new bidding session to view';
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bolder;
  z-index: 2;
}

.bg-loading {
  background-color: hsl(200, 20%, 70%);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
